<!DOCTYPE html>
<html class = "no-js">

<head>
    <title> Pagina Inicial | Rede Social Academica </title>
    <% include partials/head %>

</head>

<body>

    <% include partials/headerDefault %>
    
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Pagina Inicial</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Novas Conversas!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" id="myBtn">
                                <span class="pull-left">Ver Detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>    
                        </a>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header" style="padding:35px 50px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4><span class="fa fa-comments"></span> Novas Mensagens</h4>
                                        </div>
                                        <div class="modal-body" style="padding:40px 50px;">
                                            
                                                <div class="qwer">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Hello. How are you today?</p>
                                                  <span class="time-right">11:00</span>
                                                </div>

                                                <div class="qwer darker">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar" class="right">
                                                  <p>Hey! There!</p>
                                                  <span class="time-left">11:01</span>
                                                </div>

                                            
                                        </div>
                                    </div>
                                  
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Novas Tarefas!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" id="myBtn1">
                                <span class="pull-left">Ver Detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog">
                                
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header1" style="padding:35px 50px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4><span class="fa fa-tasks"></span> Novas Tarefas</h4>
                                        </div>
                                        <div class="modal-body" style="padding:40px 50px;">
                                            
                                                <div class="qwer">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarefa de BD1</p>
                                                  <span class="time-right">11:00</span>
                                                </div>

                                                <div class="qwer ">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarega de Algoritmo</p>
                                                  <span class="time-right">11:01</span>
                                                </div>

                                            
                                        </div>
                                    </div>
                                  
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-question fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>Novas Dúvidas!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" id="myBtn2">
                                <span class="pull-left">Ver Detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <div class="modal fade" id="myModal2" role="dialog">
                            <div class="modal-dialog">
                                
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header2" style="padding:35px 50px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4><span class="fa fa-tasks"></span> Novas Tarefas</h4>
                                        </div>
                                        <div class="modal-body" style="padding:40px 50px;">
                                            
                                                <div class="qwer">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarefa de BD1</p>
                                                  <span class="time-right">11:00</span>
                                                </div>

                                                <div class="qwer ">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarega de Algoritmo</p>
                                                  <span class="time-right">11:01</span>
                                                </div>

                                            
                                        </div>
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Novos Migos!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer" id="myBtn3">
                                <span class="pull-left">Ver Detalhes</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog">
                                
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header3" style="padding:35px 50px;">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4><span class="fa fa-tasks"></span> Novas Tarefas</h4>
                                        </div>
                                        <div class="modal-body" style="padding:40px 50px;">
                                            
                                                <div class="qwer">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarefa de BD1</p>
                                                  <span class="time-right">11:00</span>
                                                </div>

                                                <div class="qwer ">
                                                  <img src="../imagem/avatar1.jpg" alt="Avatar">
                                                  <p>Tarega de Algoritmo</p>
                                                  <span class="time-right">11:01</span>
                                                </div>

                                            
                                        </div>
                                    </div>
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-lg-4">
                <% include partials/chat %>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                        </div>
                        <form action="/chatG" method="POST">
                            <div class="form-group">
                                <label>Text area</label>
                                <textarea class="form-control" rows="5" cols="6" name="txt" maxlength="500" style="resize: none"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Submit Button</button>
                        </form>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                               <%for(var i = 0, c = 0; i < chatG.length; i++){%>
                                <% if(c == 0){ c++;%>
                                <li class="timeline-inverted">
                                <%} else{ c = 0; %>
                                    <li>
                                <%}%>
                                <!--
                                    <div class="timeline-badge"><i class="fa fa-check"></i>
                                    </div>
                                    -->
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <div class="timeline-title"><%=chatG[i].Nome%></div>
                                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> <%=Math.round(((Date.now()) - (chatG[i].data))/1000) + " seconds Ago."%></small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <p><%=chatG[i].mensagem%></p>
                                        </div>
                                        <% if(chatG[i].UsuarioId == login){ %>
                                            <div class="btn-group" style="float:right">
                                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-gear"></i> <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="/chatG/DUsr=<%= chatG[i].UsuarioId + "&data=" + chatG[i].data %>">Deletar Mensagem</a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Alterar mensagem</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        <%} %>
                                    </div>
                                </li>
                            <%}%>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="./vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="./vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="./vendor/raphael/raphael.min.js"></script>
    <script src="./vendor/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="./js/sb-admin-2.js"></script>


    <script>
        $(document).ready(function(){
            $("#myBtn").click(function(){
                $("#myModal").modal();
            });
        });
        $(document).ready(function(){
            $("#myBtn1").click(function(){
                $("#myModal1").modal();
            });
        });
        $(document).ready(function(){
            $("#myBtn2").click(function(){
                $("#myModal2").modal();
            });
        });
        $(document).ready(function(){
            $("#myBtn3").click(function(){
                $("#myModal3").modal();
            });
        });
        $(document).ready(function(){
            $("#chat").click(function(){
                $("#chatModal").modal();
            });
        });
    </script>

</body>

</html>
